{
  "extends": "standard",
  "ecmaFeatures": {
    "jsx": true,
    "modules": true
  },
  "rules": {
    "no-unused-vars": 0,
    "no-useless-return": 0
  },
  "plugins": ["react"],
  "env": {
    "browser": true,
    "node": true
  }
}
